* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  border-radius: 6px;
}

:root {
  --blue: #62a3ec;
  --white: #ffffff;
  --black: #000000;
  --shiny: #ffff80;
  --gray: #aaaaaa;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}



button {
  padding: 2%;
}

button, select {
  background-color: var(--white);
}

p, a, button, select {
  /* font-weight: bold; */
}

a {
  text-decoration: none;
  color: #444444;
  /* border: 1px solid #444444; */
  padding: 2px;
}

.container {
  width: 70vw;
  height: 250px;
  padding: 1%;
  background-color: var(--blue);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.head-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1;
}

#k01 {
  grid-column: 1;
  grid-row: 1;
}

#k02 {
  grid-column: 2;
  grid-row: 1;
  transform: translate(-50%);
}

#k03 {
  grid-column: 2;
  grid-row: 1;
}

#k04 {
  grid-column: 3;
  grid-row: 1;
}

#k05 {
  grid-column: 4;
  grid-row: 1;
  transform: translate(-50%);
}

#k06 {

  grid-column: 4;
  grid-row: 1;
}

#k07 {
  grid-column: 5;
  grid-row: 1;
  transform: translate(-50%);
}

#k08 {
  grid-column: 5;
  grid-row: 1;
}

#k09 {
  grid-column: 6;
  grid-row: 1;
}

#k10 {
  grid-column: 7;
  grid-row: 1;
  transform: translate(-50%);
}

#k11 {
  grid-column: 7;
  grid-row: 1;
}

#k12 {
  grid-column: 8;
  grid-row: 1;
  transform: translate(-50%);
}

#k13 {
  grid-column: 8;
  grid-row: 1;
}

#k14 {
  grid-column: 9;
  grid-row: 1;
  transform: translate(-50%);
}

#k15 {
  grid-column: 9;
  grid-row: 1;
}

#k16 {
  grid-column: 10;
  grid-row: 1;
}

#k17 {
  grid-column: 11;
  grid-row: 1;
  transform: translate(-50%);
}

#k18 {
  grid-column: 11;
  grid-row: 1;
}

.pianokey {
  border: 1px solid var(--gray);
}

.wkey {
  background-color: #ffffff;
  color: #000;
  z-index: 1;
}

.bkey {
  background-color: #000000;
  color: #fff;
  height: 50%;
  width: 75%;
  z-index: 2;
}

.foot-container {
  display: grid;
  justify-content: center;
  align-content: end;
}

.mylink {
  background-color: var(--white);
}

#mysymbol {
  color: #cc0000;
}

@media all and (min-width: 950px) {
  .container {
    height: 320px;
  }
}


@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
.container {
    width: 90vw;
  }
}